<!-- 從heleper過來的 -->
<%= flash_message(:alert) %>
<%= flash_message(:notice) %>

<!-- <%= flash[:notice] %> 可以改成下面的寫法 -->
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->